/* Colors:

Red: #ef4025
Dark Copper: #ba553a
Light Copper: #f58c66
Blue: #2a2a92

*/

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-image: url("../img/paper-bg.jpg");
}

@font-face {
    font-family: Alex;
    src: url("../fonts/AlexBrush-Regular.ttf");
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

h1,
h2,
h3 {
    font-family: Alex;
    font-size: 3em;
    color: #ef4025;
}

h4 {
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    color: #2a2a92;
    font-size: 1.75em;
    margin: -20px 0 20px 0;
}

p {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

/******** Links ********/

a {
    color: #ef4025;
    text-decoration: none;
    border-bottom: 1px solid #ef4025;
    padding-bottom: 1px;
}

a:hover {
    color: #ba553a;
    border-bottom: 3px solid #ba553a;
}

/******** Wrappers ********/

.headerwrapper {
    width: 100%;
}

.wrapper {
    max-width: 1000px;
    margin: auto;
}

/******** Logo ********/

.logo {
    max-width: 500px;
    width: 100%;
    display: block;
    margin: auto;
}

/******** Navigation ********/

nav {
    font-family: "Roboto Condensed", sans-serif;
    text-transform: lowercase;
    background-color: #ba553a;
    padding: 10px;
    margin: 15px 0;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    padding: 0 10px;
}

nav ul li a {
    text-decoration: none;
    padding: 10px;
    border: 2px #f58c66 solid;
    color: #f58c66;
}

nav ul li a:hover {
    padding: 10px;
    background-color: #f58c66;
    color: white;
}

/******** Main Content ********/

main {
    background-color: #ffffff;
    max-width: 1000px;
    padding: 10px 15px;
    margin-bottom: 40px;
}

section {
    width: 90%;
    margin: auto;
}

article {
    padding: 1em;
}

main img {
    max-width: 400px;
    border: 1px #666666 solid;
    padding: 0.3em;
    width: 100%;
}

/******** Button ********/

.button {
    display: inline;
}

.button + .button {
    padding-left: 1.5em;
}

.button a {
    border: 3px solid #ba553a;
    text-decoration: none;
    padding: 0.6em 2em;
    color: #ba553a;
    letter-spacing: 1px;
}

.button a:hover {
    border: 3px solid #f58c66;
    background-color: #f58c66;
    color: white;
}

/******** Colors ********/

.colors {
    max-width: 600px;
    margin: auto;
}

.colors ul {
    list-style-type: none;
}

.colors ul li {
    display: inline-block;
}

.red,
.darkcopper,
.lightcopper,
.blue {
    width: 7em;
    min-height: 7em;
}

.red {
    margin-right: 1em;
    background-color: #ef4025;
}

.darkcopper {
    background-color: #ba553a;
    margin-right: 1em;
}

.lightcopper {
    background-color: #f58c66;
    margin-right: 1em;
}

.blue {
    background-color: #2a2a92;
}
