body {
    background-image: url("../img/paper-bg.jpg");
}

@font-face {
    font-family: Alex;
    src: url("../fonts/AlexBrush-Regular.ttf");
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

h1,
h2 {
    font-family: Alex;
    font-size: 3em;
    color: #ef4025;
}

h3 {
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    color: #2a2a92;
    font-size: 1.75em;
}

p {
    font-family: 'Roboto', sans-serif;
}

.headerwrapper {
    width: 100%;
}

.wrapper {
    max-width: 1000px;
    margin: auto;
}

.logo {
    max-width: 500px;
}

/******** Navigation ********/

nav {
    font-family: "Roboto Condensed", sans-serif;
    text-transform: lowercase;
    width: 100%;
    background-color: #ba553a;
    padding: 10px;
    margin: 15px 0;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    padding: 0 10px;
}

nav ul li a {
    text-decoration: none;
    padding: 10px;
    border: 2px #f58c66 solid;
    color: #f58c66;
}

nav ul li a:hover {
    padding: 10px;
    background-color: #f58c66;
    color: white;
}

/******** Main Content ********/

main {
    background-color: #ffffff;
    max-width: 1000px;
}
