/* Colors:

Red: #ef4025
Dark Copper: #ba553a
Light Copper: #f58c66
Blue: #2a2a92

*/

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-image: url("../img/paper-bg.jpg");
}

@font-face {
    font-family: Alex;
    src: url("../fonts/AlexBrush-Regular.ttf");
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

h3 {
    font-family: Alex;
    font-size: 3em;
    color: #ef4025;
    text-align: center;
}

@media all and (min-width: 600px) {
    h3 {
        text-align: left;
    }
}

h4 {
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    color: #2a2a92;
    font-size: 1.75em;
    margin: -20px 0 20px 0;
}

p {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

/******** Links ********/

a {
    color: #ef4025;
    text-decoration: none;
    border-bottom: 1px solid #ef4025;
    padding-bottom: 1px;
}

a:hover {
    color: #ba553a;
    border-bottom: 3px solid #ba553a;
}

/******** Wrappers ********/

.headerwrapper {
    width: 100%;
    margin-top: 1em;
}

.wrapper {
    max-width: 1000px;
    margin: auto;
}

/******** Logo ********/

.logo {
    max-width: 500px;
    width: 100%;
    display: block;
    margin: auto;
    padding: 0 0.5em;
}

/******** Main Content ********/

main {
    background-color: #ffffff;
    max-width: 1000px;
    padding: 10px 15px;
    margin: 40px 0;
}

section {
    width: 90%;
    margin: auto;
}

section + section {
    padding-top: 2em;
}

.images {
    width: 80%;
    margin: auto;
}

.images article img {
    max-width: 500px;
    border: 1px #666666 solid;
    padding: 0.3em;
    width: 100%;
}

.bowtie {
    display: block;
    max-width: 500px;
    width: 100%;
    margin: auto;
}

@media all and (min-width: 600px) {
    .images article img {
        max-width: 600px;
        border: 1px #666666 solid;
        padding: 0.3em;
        width: 100%;
    }
}

@media all and (min-width: 1000px) {
    .images article img {
        max-width: 375px;
        border: 1px #666666 solid;
        padding: 0.3em;
        float: left;
        width: 50%;
        margin-top: 1em;
    }
    .rightimg {
        margin-left: 10px;
    }
}

/******** Button ********/

.button {
    display: inline;
}

.button + .button {
    padding-left: 1.5em;
}

.button a {
    border: 3px solid #ba553a;
    text-decoration: none;
    padding: 0.6em 2em;
    color: #ba553a;
    letter-spacing: 1px;
}

.button a:hover {
    border: 3px solid #f58c66;
    background-color: #f58c66;
    color: white;
}

/******** Colors ********/

section ul {
    text-align: center;
}

.colors {
    max-width: 500px;
    margin: auto;
}

.colors ul {
    list-style-type: none;
}

.colors ul li {
    display: inline-block;
}

.red,
.darkcopper,
.lightcopper,
.blue {
    width: 10em;
    min-height: 10em;
    margin-top: 1em;
}

.red {
    background-color: #ef4025;
}

.darkcopper {
    background-color: #ba553a;
    margin-left: 1em;
}

.lightcopper {
    background-color: #f58c66;
}

.blue {
    background-color: #2a2a92;
    margin-left: 1em;
}

@media all and (min-width: 675px) {
    .colors {
        max-width: 650px;
    }
    .red,
    .darkcopper,
    .lightcopper,
    .blue {
        width: 8.5em;
        min-height: 8.5em;
    }
    .lightcopper {
        margin-left: 1em;
    }
}

/******** Full-width Colors ********/

#top,
#bottom {
    background: none;
}

@media all and (min-width: 1100px) {
    #top,
    #bottom {
        background: #ef4025;
        position: fixed;
        left: 0;
        right: 0;
        height: 10px;
    }

    #top {
        top: 0;
    }

    #bottom {
        bottom: 0;
    }
}
